<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="getTokenTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="taskService" />  
        </property>  
        <property name="targetMethod">  
            <value>getToken</value>  
        </property>  
        <property name="concurrent" value="true" />  
	</bean>  
	<bean id="getTokenTime" class="org.springframework.scheduling.quartz.CronTriggerBean">  
	    <property name="jobDetail">  
	        <ref bean="getTokenTask"/>  
	    </property>  
	    <property name="cronExpression">  
	        <value>0 0 0/2 * * ?</value>  
	    </property>  
	</bean>  
	<bean id="startQuertz" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="triggers">  
	        <list>  
	            <ref bean="getTokenTime"/>  
	        </list>  
	    </property>  
	</bean>  
</beans>
